<div data-ng-init="Device.Refresh()">
        <md-card md-theme="" md-theme-watch style="max-width:370px; display: inline-block;">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{Device.MonitoringData.DeviceIP}}</span>
                    <span class="md-subhead" style="font-size: larger;">{{Device.MonitoringData.TypeName}}</span>
                    <md-input-container style="width: 140px;font-size: larger;">
                        <label>{{'DEVICE_MONITOR_LABEL_DURATION' | translate }}</label>
                        <input type="number"
                               ng-model="Device.Period" style="width: 40px;">
                    </md-input-container>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media" ng-class="{device_off: Device.MonitoringData.OK == false, device_on: Device.MonitoringData.OK == true}">
                        <img ng-if="Device.MonitoringData.DeviceType==1" class="imgCard" ng-src="/public/images/printer.png" style="" />
                        <img ng-if="Device.MonitoringData.DeviceType==2" class="imgCard" ng-src="/public/images/pc.png" style="" />
                        <img ng-if="Device.MonitoringData.DeviceType==3" class="imgCard" ng-src="/public/images/router.png" style="" />
                        <md-progress-linear md-mode="determinate" value="{{Device.ProgressLinear}}" style="margin-top: 2px;"></md-progress-linear>
                    </div>
                </md-card-title-media>

            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="!Device.isRun" ng-click="Device.startMonitoring()">{{'DEVICE_MONITOR_BUTTON_START' | translate }}</md-button>
                <md-button ng-if="Device.isRun" ng-click="Device.stopMonitoring()">{{'DEVICE_MONITOR_BUTTON_STOP' | translate }}</md-button>
                <md-button ng-click="Device.UpdateChart()">{{'FORM_EDIT' | translate }}</md-button>
            </md-card-actions>
        </md-card>
        <md-card md-theme="" md-theme-watch style="display: inline-block;position: absolute ;height: 237px; width: auto">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{'DEVICE_MONITOR_PROPERIES' | translate}}</span>
                </md-card-title-text>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="MonitoringMenu.goMenu()">
                    <md-icon md-svg-icon="public/images/more.svg"></md-icon>
                </md-button>
            </md-card-title>
            <md-card-content>
                <div layout="row" layout-align="space-between center" ng-repeat="Properties in Device.MonitoingProperties">
                    <span><b>{{Properties.Name}}</b>: {{Properties.Value}}</span>
                </div>
            </md-card-content>
        </md-card>
        <!--<div style="display: inline-block; width: 300px;">
            <md-tabs md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
                <md-tab ng-repeat="tab in Device.MonitoingTabs" ng-disabled="tab.disabled" label="{{tab.listName}}">
                    <div layout="row" layout-align="space-between center" ng-repeat="Properties in tab.monitoringList">
                        <span><b>{{Properties.ID}} </b>{{Properties.Name}}</span>
                    </div>
                </md-tab>
            </md-tabs>
        </div>-->
        <div style="background: #edeef0;">
            <md-card md-theme="" md-theme-watch style="width: 400px;height: 260px;padding: 10px; display: inline-block" ng-repeat="Chart in Device.MonitoingCharts">
                <div class="panel-heading">{{Chart.name}}</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="Chart.data" chart-options="Chart.options"
                            chart-colors="Chart.colors"
                            chart-labels="Chart.labels" chart-series="Chart.series"
                            width="400" height="250" style="width:400px;height:250px"></canvas>
                </div>
            </md-card>

        </div>

</div>