<div ng-cloak="" class="tabsdemoDynamicHeight">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="{{'MENU_MONITOR' | translate }}">
                <md-content class="md-padding">
                    <md-content class="md-padding" ng-controller="MonitorController as Monitor">
                        <md-card style="border-radius: 3px; width:450px; height:90px;">
                            <md-card-title layout="row" style="padding-top: 0px;padding-right: 10px;padding-bottom: 8px;padding-left: 10px;">
                                <md-card-title-text>
                                    <span class="md-headline" style="font-size: 18px;">{{'CONTROL_PANEL' | translate }}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content layout="row" style="">
                                <md-input-container style="width: 100px;">
                                    <label>{{'DEVICE_MONITOR_LABEL_DURATION' | translate }}</label>
                                    <input type="number"
                                           ng-model="Monitor.Period" style="width: 50px;">
                                </md-input-container>

                                    <md-input-container>
                                        <label>{{'FORM_GROUP' | translate }}</label>
                                        <md-select ng-model="Monitor.group" ng-change="Monitor.NewGroupSelected()" placeholder="{{'FORM_GROUPS' | translate }}" md-on-open="Monitor.getList()" style="min-width: 200px;">
                                            <md-option ng-repeat="item in Monitor.MyGroups" ng-value="item.GroupId">{{item.GroupName}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                <md-input-container>
                                    <md-button ng-if="!Monitor.isRun" ng-click="Monitor.startMonitoring()">{{'DEVICE_MONITOR_BUTTON_START' | translate }}</md-button>
                                    <md-button ng-if="Monitor.isRun" ng-click="Monitor.stopMonitoring()">{{'DEVICE_MONITOR_BUTTON_STOP' | translate }}</md-button>
                            </md-card-content>
                        </md-card>
                        <div>
                            <md-progress-linear md-mode="determinate" value="{{Monitor.ProgressLinear}}" style="margin-top: 2px;"></md-progress-linear>
                            <div class="map">
                                <md-card style="border-radius: 3px; width:150px; height:120px; display: inline-block" ng-repeat="x in Monitor.Devices">
                                    <md-card-title style="padding-top: 0px;padding-right: 10px;padding-bottom: 8px;padding-left: 10px;">
                                        <md-card-title-text>
                                            <span class="md-headline" style="text-align: center;font-size: 18px;">{{ x.DeviceIP }}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content style="top: -30px; position: relative;">
                                        <img ng-if="x.DeviceType==2" class="imgCard" ng-src="/public/images/pc.png" style="position: relative; height: 95px; width: 95px; top: 10px;" />
                                        <img ng-if="x.DeviceType==1" class="imgCard" ng-src="/public/images/printer.png" style="position: relative; height: 95px; width: 95px; top: 10px;" />
                                        <img ng-if="x.DeviceType==3" class="imgCard" ng-src="/public/images/router.png" style="position: relative; height: 95px; width: 95px; top: 10px;" />
                                        <md-card-actions layout="column" style="position: relative; top: -90px; left: 85px;
">
                                            <md-button class="md-icon-button" aria-label="Settings" style="margin: 0px;padding: 0px;">
                                                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                                            </md-button>
                                            <md-button class="md-icon-button" aria-label="Share" style="margin: 0px;padding: 0px;">
                                                <a ng-href="#/device/{{ x.DeviceID }}"><md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon></a>
                                            </md-button>
                                        </md-card-actions>
                                    </md-card-content>
                                </md-card>

                            </div>
                        </div>
                    </md-content>
                </md-content>
            </md-tab>
            <md-tab label="{{'MENU_DEVICES' | translate }}">
                <md-content class="md-padding">
                    <div class="md-padding selectdemoBasicUsage" ng-cloak="" layout="column">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{'DEVICE_FORM_HEADER' | translate }}</span>
                                    <span class="md-subhead">{{'FORM_FILLINGDATA' | translate }}</span>
                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content ng-controller="DeviceFormController as DeviceForm">
                                <div layout="row">
                                    <md-input-container>
                                        <label>{{'DEVICE_FORM_IPADDRESS' | translate }}</label>
                                        <input ng-model="DeviceForm.Device.DeviceIP" style="color:{{DeviceForm.ColorIP}}" ng-keyup="DeviceForm.isIPv4()" ng-pattern='/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/' required>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>{{'FORM_NAME' | translate }}</label>
                                        <input ng-model="DeviceForm.Device.DeviceName" required>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>{{'DEVICE_FORM_DEVICECOMMUNITY' | translate }}</label>
                                        <input ng-model="DeviceForm.Device.DeviceCommunity" required>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>{{'FORM_LABELTYPESDEVICE' | translate }}</label>
                                        <md-select placeholder="{{'DEVICE_FORM_TYPEDEVICES' | translate }}" ng-model="DeviceForm.Device.DeviceType" md-on-open="DeviceForm.loadDeviceTypes()" style="min-width: 200px;" ng-change="DeviceForm.TypeChanged()" required>
                                            <md-option ng-repeat="DeviceType in DeviceForm.DeviceTypes" ng-value="DeviceType.TypeID">{{DeviceType.TypeName}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="column" ng-cloak="" class="chipsItemChips" ng-show="DeviceForm.ShowNext">
                                    <md-content class="md-padding autocomplete" layout="column">
                                        <md-contact-chips ng-model="DeviceForm.oids"
                                                          md-contacts="DeviceForm.querySearch($query)"
                                                          md-contact-name="name"
                                                          md-contact-image="image"
                                                          md-contact-email="email"
                                                          md-require-match="true"
                                                          md-highlight-flags="i"
                                                          filter-selected="DeviceForm.filterSelected"
                                                          placeholder="{{'DEVICE_FORM_PARAMETERS' | translate }}">
                                        </md-contact-chips>

                                        <md-list class="fixedRows">
                                            <md-subheader class="md-no-sticky">{{'DEVICE_FORM_AVAILABLEPARAMS' | translate }}</md-subheader>
                                            <md-list-item class="md-2-line contact-item" ng-repeat="(index, oid) in DeviceForm.allOIDs"
                                                          ng-if="DeviceForm.oids.indexOf(oid) < 0">
                                                <img ng-src="{{oid.image}}" class="md-avatar" alt="{{oid.name}}" />
                                                <div class="md-list-item-text compact">
                                                    <h3>{{oid.name}}</h3>
                                                    <p>{{oid.email}}</p>
                                                </div>
                                            </md-list-item>
                                            <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, oid) in DeviceForm.oids">
                                                <img ng-src="{{oid.image}}" class="md-avatar" alt="{{oid.name}}" />
                                                <div class="md-list-item-text compact">
                                                    <h3>{{oid.name}}</h3>
                                                    <p>{{oid.email}}</p>
                                                </div>
                                            </md-list-item>
                                        </md-list>
                                    </md-content>
                                </div>

                                <div layout="row" ng-repeat="(index, oid) in DeviceForm.oids">

                                    <md-input-container>
                                        <label>{{'DEVICE_FORM_PARAMETERS' | translate }}</label>
                                        <input value="{{oid.name}}" disabled>
                                    </md-input-container>

                                    <md-input-container ng-if="oid.Type == 'numeric'">
                                        <label>{{'DEVICE_FORM_CONDOTIONS' | translate }}</label>
                                        <input ng-model="oid.Conditions">
                                    </md-input-container>

                                    <md-checkbox ng-model="oid.Notification" class="md-primary">
                                        {{'DEVICE_FORM_EMAIL_ALLERT' | translate }}
                                    </md-checkbox>

                                </div>

                                <md-button class="md-raised md-primary" style="width: 50px; margin: inherit;" ng-click="DeviceForm.CreateDevice($event)">{{'FORM_BUTTON_CREATE' | translate }}</md-button>

                            </md-card-content>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{'MENU_PARAM' | translate }}">
                <md-content class="md-padding">
                    <div ng-controller="NewParamFormController as NewParamForm">
                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{'PARAMETERS_FORM_HEADDER' | translate }}</span>
                                    <span class="md-subhead">{{'FORM_FILLINGDATA' | translate }}</span>
                                </md-card-title-text>
                            </md-card-title>

                            <md-card-content>
                                <div layout="row">

                                    <md-input-container style="min-width: 220px;">
                                        <label>{{'FORM_LABELTYPESDEVICE' | translate }}</label>
                                        <md-select ng-model="NewParamForm.NewParam.DeviceType" ng-change="NewParamForm.TypeSelected()" placeholder="{{'FORM_LABELTYPESDEVICE' | translate }}" md-on-open="NewParamForm.loadDeviceTypes()" required>
                                            <md-option ng-repeat="item in NewParamForm.DeviceTypes" ng-value="item.TypeID">{{item.TypeName}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>{{'FORM_NAME' | translate }}</label>
                                        <input ng-model="NewParamForm.NewParam.Name" required>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>{{'PARAMETERS_FORM_PARAM_TYPE' | translate }}</label>
                                        <md-select ng-model="NewParamForm.NewParam.ValueType" placeholder="{{'PARAMETERS_FORM_PARAM_TYPE' | translate }}" required>
                                            <md-option ng-repeat="item in NewParamForm.ValueTypes" ng-value="item.name">{{item.name}}</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>{{'PARAMETERS_FORM_PARAM_COMMENTARY' | translate }}</label>
                                        <input ng-model="NewParamForm.NewParam.Commentary" required>
                                    </md-input-container>

                                </div>
                                <div layout="row">
                                    <md-input-container style="width:90%">
                                        <label>{{'PARAMETERS_FORM_PARAM_VALUE' | translate }}</label>
                                        <textarea ng-model="NewParamForm.NewParam.OID1" required></textarea>
                                    </md-input-container>
                                    <md-input-container ng-if='NewParamForm.NewParam.ValueType == "numeric"'>
                                        <label>{{'PARAMETERS_FORM_PARAM_MEASURE' | translate }}</label>
                                        <input ng-model="NewParamForm.NewParam.Measure" required>
                                    </md-input-container>
                                </div>
                            </md-card-content>
                            <md-button class="md-raised md-primary" style="width: 50px; margin: inherit;" ng-click="NewParamForm.CreateParam()">{{'FORM_BUTTON_CREATE' | translate }}</md-button>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>