<div data-ng-init="Device.Refresh()">
    <md-card md-theme="" md-theme-watch style="width:320px; display: inline-block;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{Device.DeviceSNMP.DeviceIP}}</span>
                <span class="md-subhead">{{Device.DeviceSNMP.TypeName}}</span>
                <md-input-container style="width: 100px;">
                    <label>{{'DEVICE_MONITOR_LABEL_DURATION' | translate }}</label>
                    <input type="number"
                           ng-model="Device.Period" style="width: 40px;">
                </md-input-container>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media" style="background: green">
                    <img class="imgCard" ng-src="/public/images/pc.png" style="" />
                </div>
            </md-card-title-media>

        </md-card-title>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="Device.startMonitoring()">{{'DEVICE_MONITOR_BUTTON_START' | translate }}</md-button>
            <md-button ng-click="Device.UpdateChart()">{{'DEVICE_MONITOR_BUTTON_EDIT' | translate }}</md-button>
        </md-card-actions>
    </md-card>
    <md-card md-theme="" md-theme-watch style="display: inline-block;position: absolute;height: 237px; width: auto;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Свойства</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="space-between center" ng-repeat="Properties in Device.MonitoingProperties">
                <span><b>{{Properties.Name}}</b>: {{Properties.Value}}</span>
            </div>
        </md-card-content>
        </md-card>
        <div style="background: #edeef0;">
            <md-card md-theme="" md-theme-watch style="width: 400px;height: 260px;padding: 10px; display: inline-block" ng-repeat="Chart in Device.MonitoingCharts">
                <div class="panel-heading">{{Chart.name}}</div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="Chart.data"
                            chart-labels="Chart.labels" chart-series="Chart.series"
                            chart-click="" width="400" height="250" style="width:400px;height:250px"></canvas>
                </div>
            </md-card>

        </div>

</div>